form .error {
    color: red;
    font-weight: bold;
}

.post_newsletter {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

@keyframes flipUpside {
    0% {
        transform: rotateX(180deg);
    }
}

.flip-vertical {
    perspective: 1000px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform-style: preserve-3d;
    animation: flipUpside 1.5s ease both;
}
